body {
  background: rgb(5, 28, 43);
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
}

section.container {
  display: flex;
  overflow-x: auto;
  position: relative;
  align-items: center;
}

section.container img {
  width: 300px;
  height: calc(300px / (16 / 9));
  margin-right: 0.9rem;
}

.lastChild {
  margin-right: 1.2rem;
}

section.container::-webkit-scrollbar {
  display: none;
}

.next,
.prev {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  color: aliceblue;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  /* background: rgba(31, 1, 1, 0.6); */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.next {
  right: 1rem;
}
.prev {
  left: 1rem;
}
.fa-circle {
  font-size: 0.5em;
  color: #ccc;
}

@media screen and (max-width: 540px) {
  .next {
    display: none;
  }
  .prev {
    display: none;
  }
}
